@{
    ViewData["Title"] = "Trang Chủ";
}

    <div class="text-center">
        <h1 class="display-4">Thông Tin Thành Viên</h1>
        <h2>Nhóm 420</h2>
        <p> Ngô Tấn Trung - 43.01.104.191  </p>
        <p> Quách Đăng Khoa - 43.01.104.078  </p>
        <p> Trương Thị Thuỳ Vy - 43.01.104.210  </p>
        <p> Võ Kim Hoa - 43.01.104.054  </p>
        <p> Quách Trí Tân - 43.01.104.159  </p>
    </div>
