@{
    ViewData["Title"] = "Chính Sách Phát Triển";
}
    <div class="text-center">
        <h1>@ViewData["Title"]</h1> </div>

        <h2>1. Chính sách tuyển dụng & Chính sách nhân sự hoạt động trong công ty </h2>


        Chính sách về nhân sự trong công ty được chia thành 3 chinh sách chính là: chính sách tuyển người, chính sách đào tạo nhân sự và chính sách nghỉ việc cho nhân viên. Các chính sách này bao quát những hoạt động cơ bản của nhân viên trong công ty từ lúc vào cho tới lúc đầy đủ chuyên môn rồi sau đó nghỉ việc.



        <h3>  1.1. Chính sách tuyển người   </h3>


        Chính sách tuyển người bao gồm nhiều bước. Ở mỗi bước, doanh nghiệp nên tạo lập một chính sách riêng phù hợp với các tiêu chí như:



        Chính sách tuyển chọn: Đây là chính sách nhằm đưa ra những hướng dẫn tuyển chọn và tiêu chí cho từng vị trí trong doanh nghiệp khi có nhu cầu tuyển dụng. Ở khâu đăng tin tuyển dụng cần phân tích nghề nghiệp, viết mô tả công việc, thông báo tuyển dụng, truyền thông trong tuyển dụng, thu thập ứng viên và xét chọn hồ sơ. Khâu tuyển chọn bao gồm phỏng vấn, phân tích & đánh giá ứng viên sau đó đưa ra quyết định cuối cùng.



        Tải ngay ebook miễn phí: Tuyển dụng "bắt cặp" với công nghệ


        Chính sách định hướng cho nhân viên mới: Đây là chính sách nằm trong quy trình onboarding cho nhân viên mới, bao gồm các tiêu chí về con người, văn hóa và tư tưởng cho những ứng viên được chọn vào công ty. Họ cần biết công ty có các phòng ban nào, họ nằm ở đâu trong bộ máy to lớn của công ty, công việc của họ có ảnh hưởng như thế nào tới công việc chung của công ty.



        Chính sách thử việc: Đây là chính sách đưa ra các tiêu chí đánh giá nhân viên trong thời kỳ đầu tại công ty mới để xem liệu họ có đủ khả năng cho công việc hay không.



        Chính sách thế chỗ tạm thời: Khi nhân sự bị thiếu hụt vào đúng thời điểm không thuận lợi để tuyển dụng, bạn cần đưa ra một vài giải pháp / cách thức để tìm nhân sự bù vào chỗ trống đó trong khoảng thời gian đủ lâu để công ty có thể thực hiện một chiến dịch tuyển dụng đầy đủ như kế hoạch.



        <h3> 1.2. Chính sách đào tạo nhân sự </h3>


        Chính sách đào tạo nhân sự đầy đủ là chính sách được thiết kế để đảm bảo các kế hoạch phát triển nhân viên giai đoạn đầu và phát triển năng lực cho các thành viên cốt lõi. Chính sách đó bao gồm:



        Dự trù về khả năng tài chính: Công ty cần biết chắc liệu mình có đủ chi phí để chi trả cho các buổi đào tạo như đề xuất của phòng nhân sự không. Nếu không đủ, chúng ta cần nghĩ cách cắt giảm các buổi đào tạo không cần thiết hoặc điều chỉnh một số nhân tố để giảm chi phí.



        Sức chứa: Công ty cần kiểm soát lưu lượng đào tạo. Nếu số lượng nhân viên tham gia đào tạo quá đông có thể sẽ không hiệu quả. Nếu số lượng quá ít thì công ty nên gộp chung các buổi lại với nhau để tiết kiệm chi phí. Đây không phải vấn đề với hình thức online (Video Training).



        Các hình thức đào tạo: Các hình thức đào tạo cần được xác định ngay từ đầu, tùy theo mục đích đào tạo và đối tượng. Các hình thức có thể kể tới như: lớp học trực tiếp, lớp học online hoặc hội thảo / seminars. Với các nhân viên mới onboard thì hình thức online với bộ video được làm trước về những chủ đề chung từ văn hóa doanh nghiệp, lịch sử công ty tới kỹ năng bán hàng, kỹ năng đàm phán và thuyết phục,… khá phù hợp. Còn với huấn luyện chuyên môn, nâng cao năng lực nhân sự cốt lõi thì nên được tạo điều kiện học tập trực tiếp với hình thức lớp học có thầy và trò hay tổ chức các buổi thảo luận.



        Lên lịch trình cho các buổi đào tạo: Cần có một lịch trình rõ cho các buổi đào tạo và quy trình này có thể được áp dụng xuyên suốt trong một khoảng thời gian dài. Lịch trình sẽ phù hợp với việc huấn luyện các nhân viên mới; còn việc đào tạo nhân sự cốt lõi cần được lên kế hoạch trước một tuần với một agenda cụ thể cho người tham dự.



        Cách đánh giá kết quả đào tạo: Để hoàn thiện chính sách này, công ty cần những tiêu chí cuối cùng cho đầu ra của nhân viên. Khi nhân viên hoàn thành quy trình, công ty nên có cách để kiểm tra chất lượng và đánh giá nhân viên để thấy họ đã vượt qua hay cần đào tạo lại.



        Đọc thêm: 4 bước xây dựng quy trình đào tạo nội bộ hiệu quả cho doanh nghiệp



        <h3> 1.3. Chính sách nghỉ việc </h3>


        Đây là chính sách diễn giải các trường hợp nghỉ việc và cách xử lý các trường hợp đó. Nhân viên sẽ bị cho nghỉ hay đến thời hạn được nghỉ, có hình phạt hay phần thưởng gì cho việc này hay không? Chính sách sẽ trả lời những câu hỏi này:



        Nghỉ do việc gia đình: Các công ty thường có chính sách cho nhân viên xin phép nghỉ vào thời điểm này. Số ngày nghỉ do công ty tuỳ ý quy định nhưng thường là giới hạn 3 ngày, nếu nghỉ thêm thì cần xin phép cấp trên.



        Nghỉ hầu tòa: Trường hợp này không có nhiều ở Việt Nam nhưng nếu nhân viên là nhân chứng của một vụ án nào đó, công ty nên dành thời gian cho họ đi tìm công lý.



        Nghỉ thai sản: Chính sách này chắc chắn phải được áp dụng triệt để theo quy định của Nhà nước. Hiện nay, chính sách nghỉ này được điều chỉnh tốt hơn trước rất nhiều khi không chỉ vợ mà chồng cũng được nghỉ để chăm vợ. Một số doanh nghiệp có thể tăng số ngày nghỉ thai sản và coi đó như một quyền lợi đặc biệt khi nhân viên đầu quân cho doanh nghiệp của họ.



        Nghỉ ốm: Khi nhân viên bị ốm, họ nên có thời gian để hồi phục. Thông thường, các công ty sẽ cử người đến thăm người ốm. Thời gian nghỉ ốm thường là 3 ngày, nếu sau 3 ngày công ty không nhận được bất cứ tin tức gì về nhân viên đó, công ty nên tự động cử đại diện đến nhà xem xét tình hình.



        Nghỉ việc: Có thể hiểu trường hợp này theo 2 cách là nghỉ việc và bị cho nghỉ việc. Nghỉ việc có nhiều nguyên do, có thể đến từ cả phía nhân viên hoặc doanh nghiệp. Nếu là từ phía nhân viên, nhiều công ty có chính sách nhân viên phải thông báo trước 1 tháng. Nếu là từ phía công ty khi thấy nhân viên không đủ năng lực, vi phạm kỷ luật,... nên buộc phải chấm dứt hợp tác thì quyết định thường sẽ có hiệu lực trong vòng 24h.


        Các trường hợp nghỉ việc cần áp dụng chính sách nhân sự trong doanh nghiệp



        <h2> 2. Chính sách hợp đồng & lương, thưởng, đãi ngộ nhân viên </h2>


        Chính sách này bao gồm những giao kèo, giao kết giữa nhân viên và người lãnh đạo, nhằm đảm bảo mọi mặt về quyền lợi, đời sống cho nhân viên:



        <h3> 2.1. Hợp đồng </h3>


        Một hợp đồng thể hiện sự ràng buộc chính đáng về mặt pháp lý giữa người làm chủ và người làm thuê có ý nghĩa vô cùng quan trọng với doanh nghiệp. Một hợp đồng lao động cần có đầy đủ các yếu tố sau:



        Bao gồm mã số hồ sơ: Mã hồ sơ sẽ tiện hơn trong việc lưu trữ.



        Bao gồm đầy đủ thông tin: Những thông tin có thể kể tới như là thông tin cá nhân của nhân viên, thông tin phía công ty, tên công việc, chức năng công việc, các quy định trong công ty mà nhân viên cần tuân thủ, các phụ lục, các quyền lợi như BHXH, lương, thưởng, chế độ đãi ngộ, thời hạn hợp đồng,…



        Hợp đồng chứng minh giá trị pháp lý tuyệt đối mà hai bên phải tuân thủ, nếu có vi phạm xảy ra thì cứ chiếu theo hợp đồng để xử lý. Vì vậy, trước khi đặt bút ký, các ứng viên nên suy nghĩ kỹ còn phía doanh nghiệp chắc chắn phải cân nhắc đầy đủ trước khi đưa ra đề nghị.



        <h3> 2.2. Lương, thưởng </h3>


        Một chính sách tốt về lương không chỉ đảm bảo đời sống cho công nhân viên hợp tác với doanh nghiệp mà còn đảm bảo tài chính cho doanh nghiệp. Một chính sách lương cơ bản là cần 3 điểm chính sau:



        Tần suất trả lương (theo tuần, theo 2 tuần, theo tháng,…)

        Phúc lợi cho nhân viên (bảo hiểm, trợ cấp,…)

        Cách thức thanh toán (trả tiền mặt hay qua tài khoản,…)



        Chính sách cũng nên có phần các câu hỏi thường gặp cho nhân viên và nơi để họ có thể tới và thắc mắc về quyền lợi của mình.



        Đọc thêm: Các công thức tính lương cơ bản trong doanh nghiệp


        <h3> 2.3 Số ngày lễ, nghỉ phép    </h3>


        Đây là một trong những chính sách mà các ứng viên rất quan tâm tới. Trên thực tế, những công ty nào có suy nghĩ thoáng hơn sẽ được nhận nhiều chú ý hơn. Tất nhiên, chỉ một vài doanh nghiệp tư nhân hoặc doanh nghiệp nhỏ mới có chính sách nghỉ phép linh hoạt còn về nghỉ lễ thì phần lớn đều giống nhau.



        <h3>2.4. Du lịch, các kỳ nghỉ của công ty   </h3>


        Chính sách này không nhất thiết phải có; nhưng nó sẽ đem lại sự hấp dẫn khó cưỡng cho doanh nghiệp khi tần suất cho nhân viên xả hơi diễn ra thường xuyên và có các hình thức mới lạ. Chính sách này tùy vào tình hình kinh doanh của doanh nghiệp, văn hóa doanh nghiệp và cách suy nghĩ của lãnh đạo. Thường thì một năm nên có ít nhất một lần đi nghỉ mát, 1 lần đi team buiding - đó là các hoạt động diễn ra ở phần lớn các doanh nghiệp.



        <h3>2.5. Nghỉ hưu   </h3>


        Theo luật của Việt Nam thì Quốc hội nước ta đang kiến nghị độ tuổi về hưu cho nam lên 62, nữ lên 60 nhưng tại thời điểm của bài viết này, luật đang quy định công nhân viên nam 60 tuổi và nữ 55 tuổi sẽ về hưu. Các công ty có chính sách hỗ trợ về hưu trí tốt như hỗ trợ bảo hiểm, tặng cổ phần, tặng bằng khen, giấy chứng nhận hay một khoản thưởng nhỏ được cho là khá tâm lý và các nhân viên có tuổi sẽ có thêm động lực để cống hiến hết mình cho doanh nghiệp.



        <h2>3. Chính sách đánh giá các thành viên trong công ty</h2>


        Chính sách này nhằm đưa ra các tiêu chí đánh giá và quy trình đánh giá công minh cho toàn thể thành viên trong công ty. Chính sách này được đưa ra với 2 ý chính đó là đánh giá phát triển và đánh giá chất lượng công việc.



        <h3> 3.1. Đánh giá phát triển</h3>


        Đánh giá phát triển là đánh giá theo quá trình một nhân viên ở trong công ty xem anh ta đã thay đổi những gì kể từ khi vào công ty, thay đổi đó tốt hay xấu, so với các nhân viên khác anh ta có cần thúc đẩy học tập nâng cao năng lực hơn nữa không hay đã vượt xa các đồng nghiệp,... Tất cả các câu hỏi như vậy cần được trả lời trong chính sách đánh giá của công ty.



        Có một vài yếu tố mà doanh nghiệp cần lưu tâm khi đưa ra bất kỳ quy trình hay chính sách đánh giá phát triển doanh nghiệp nào, đó là:



        Kết hợp được mục tiêu của cá nhân với mục tiêu của doanh nghiệp: Trong bản chính sách phải nêu rõ cách kiểm soát các mục tiêu phát triển cá nhân đúng với định hướng của doanh nghiệp. Đây là cách tốt để đưa từng mắt xích phát triển đúng hướng.



        Hướng giám sát: Chính sách phải nói về cách thức giám sát, các tiêu chí đánh giá được công bố để nhân viên có đường phấn đấu tiếp.



        Vòng quay đánh giá: Đây là quy trình đánh giá theo vòng tròn và chúng ta có thể quản lý từng chu kỳ một cách gói gọn. Bắt đầu từ việc lên kế hoạch, nhận xét - đánh giá, lưu trữ quản lý và quyết định khen thưởng / khiển trách cho một cá nhân. Bất kỳ doanh nghiệp nào cũng nên có một bản mẫu cho từng khâu.



        Đọc thêm: Mô hình ASK là gì: Mô hình đánh giá năng lực nhân sự chuẩn quốc tế



        <h3>3.2. Đánh giá chất lượng công việc</h3>


        Sau quy trình đánh giá năng lực, công ty nên nhìn vào công việc mà người nhân viên đảm nhận. Thường thì năng lực sẽ đi kèm theo kết quả công việc; tuy nhiên, đôi khi vì mâu thuẫn chưa được xử lý mà nhân viên đó không cống hiến hết năng lực của mình cho công ty. Chính sách đánh giá chất lượng công việc cần chỉ ra được các điểm sau:



        Mục tiêu và mục đích của chính sách.

        Vai trò của chính sách trong quyết định công việc của từng thành viên.

        Các bước đánh giá chất lượng công việc.

        Các tiêu chí đánh giá chất lượng công việc.



        <h2>4. Các nội quy khác</h2>
        Phần này, chúng ta sẽ nói về các nội quy khác trong chính sách nhân sự của doanh nghiệp:



        <h3>4.1. Các quy định chung nhằm giải quyết mâu thuẫn</h3>


        Đây là chính sách khá phức tạp, và tùy tình hình thực tế tại công ty mới có thể quyết định được mẫu số chung cho các trường hợp. Tuy nhiên, việc có các quy định / chế tài để xử lý mâu thuẫn là điều cần thiết bởi chúng sẽ loại bỏ được phần lớn rủi ro. Một chính sách nhân sự nên có:



        Quy trình đưa ra ý kiến phàn nàn: Giống như quy trình tố tụng nhưng quy trình này không nghiêm trọng đến vậy. Công ty cần dành thời gian để lắng nghe ý kiến nhân viên một cách có trật tự, có văn minh để mọi chuyện không bị rối tung lên bởi cãi nhau nhất thời. Ở bước này, bạn có thể đề bạt một người cố vấn nắm rõ luật của công ty và có kinh nghiệm vào xem xét vấn đề.



        Đánh giá 1-1: Công ty có thể sẽ dành thời gian để ngồi lại với từng cá nhân / từng bên trong vụ việc để hiểu rõ góc nhìn của từng người và đưa ra hướng giải quyết.



        Quy định dàn xếp, hòa giải: Đây là quy định nhằm mục đích đơn giản là làm sao để hai bên cùng đẹp lòng. Khi là người phán xử, bạn nên giữ hòa khí và đưa ra quyết định có lợi cho cả hai bên như một cách dàn xếp khéo léo.



        Phân xử nghiêm minh: Nếu vụ việc không thể dàn xếp, người quản lý nên phân xử một cách công tâm và có lý để đưa ra các quyết định khách quan nhất.



        <h3> 4.2. Các giải thưởng, sự kiện trong công ty</h3>


        Chính sách cho giải thưởng, sự kiện trong công ty thường sẽ khác nhau về mức độ cũng như sự đa dạng. Có công ty đề cao văn hóa đoàn kết sẽ trao giải cho các cá nhân cống hiến, nhưng có công ty đề cao kết quả kinh doanh thì nhân viên có kết quả tốt nhất sẽ được thưởng.


        Mỗi doanh nghiệp nên có mục trao thưởng trong chính sách nhân sự



        Chính sách này phụ thuộc nhiều vào cách nghỉ của các nhà lãnh đạo trong công ty, giá trị cốt lõi mà công ty hướng tới và ngân sách tài chính dành cho các giải thưởng và tổ chức sự kiện.



        Giải thưởng: Công ty cần chuẩn bị về tài chính, về khâu đánh giá nhân sự, quyết định trao thưởng, tổ chức, công bố và trực tiếp trao thưởng cho cá nhân, tập thể xuất sắc.



        Sự kiện: Có thể sự kiện là Gala hằng năm, là tiệc sinh nhật cho các nhân viên cùng tháng, những buổi Team-Building ngoài trời hay đi du lịch. Các sự kiện được tổ chức với quy mô và mức độ thường xuyên ra sao phụ thuộc vào tình hình kinh doanh của doanh nghiệp, văn hóa doanh nghiệp và tầm nhìn của lãnh đạo.

